* {
	/*border: 2px solid red !important;*/
	font-family: "Roboto" sans-serif;
	color: #757575;
}

/*=========
Containers
=========*/

.container {
	width: 96%;
	height: 100%;
	margin: auto;
}

.row {
	width: 100%;
	dislay: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

section {
	margin: 10px auto;
}

footer {
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	margin: 30px 0;
}


/*==========
Typography
===========*/

h1 {
	font-weight: 100;
	font-size: 7vw;
	letter-spacing: 3px;
	margin: .1em 0 0 0;
}

h2 {
	font-weight: 300;
	font-size: 3vw;
	margin: 0;
}

h3 {
	font-weight: 300;
	/*font-size should be 4.2vw to match mockup*/
	font-size: 6.5vw;
	color: #d4cccc;
	letter-spacing: 2px;
}

h4 {
	font-size: 6.5vw;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0;
}

hr {
	border: 2px solid #dad5d5;
}

a{
	color: gray;
	font-size: 3vw;
	font-weight: 300;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/*========
Classes
========*/

header.row {
	flex-wrap: nowrap;
}

.header-logo {
	width: 20vw;
	height: 100%;
}

.header-text {
	flex-grow: 3;
	text-align: right;
	text-transform: uppercase;
}

.banner {
	height: 40vh;
}

.apps {
	text-align: center;
}

.app {
	max-width: 100%;
}

.social svg {
	width: 7vw;
	height: auto;
}

/*===========
Media Queries
===========*/

@media screen and (max-width: 500px) {
	/*below this is single column
	  above this, take a look at options
	 */
	section:first-child {
		margin-top: 0;
	}

	main header.row {
		justify-content: center;
	}
}

@media screen and (min-width: 501px) and (max-width: 745px) {
	h3 {
		margin: .5em;
	}

	h4 {
		font-size: 5vw;
	}

	a {
		font-size: 2.5vw;
	}

	.header-logo {
		width: 100px;
	}

	.app {
		width: 49%;
	}
	.apps {
		align-self: flex-start;
	}
}

@media screen and (min-width: 746px) {
	h3 {
		margin: .2em;
	}

	h4 {
		font-size: 4vw;
	}

	a {
		font-size: 2vw;
	}

	.header-logo {
		width: 125px;
	}

	.app {
		width: 32%;
	}
}

@media screen and (min-width: 950px) {
	.header-logo {
		width: 150px;
	}

	.container {
		width: 80%;
	}
}

@media screen and (min-width: 1500px) {
	h1 {
		font-size: 4em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 3em;
	}

	h4 {
		font-size: 2.5em;
	}

	a {
		font-size: 1em;
	}

	.container {
		width: 1150px;
	}
}